<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109043183-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109043183-1');
    </script>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://facebookcanadianelectionintegrityinitiative.com/"/>
    <meta property="og:title" content="Facebook Canadian Election Integrity Initiative"/>
    <meta property="og:image" content="http://facebookcanadianelectionintegrityinitiative.com/images/cyber-hygiene-report-thumbnail.png"/>
    <meta property="og:description" content="At Facebook, we are committed to doing our part to protect and safeguard the integrity of the electoral process in Canada by ensuring that the accounts of politicians and political parties are secure and that people have access to reliable information and diverse perspectives." />

    <title>Facebook Policy Team - Canada</title>

    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400|Roboto:100,100i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <main role="main" class="main-container js-target js-en">
      <div class="header">
        <nav class="lang-switch">
          <span class="lang-switch--fr js-lang-switch--fr">FR</span>
          <span class="lang-switch--en js-lang-switch--en">EN</span>
        </nav>

        <div>
          <div class="header--en">
            <div class="logo-wrapper"><img class="facebook-logo" src="images/facebook-logo.svg" alt=""></div>

            <div style="position: relative;">
              <img class="mockup mockup--en" src="./images/cyber-hygiene-report-en-mockup.jpg" alt="">
              <a href="./pdfs/cyber-hygiene-en.pdf" download class="header__download-btn"><i class="material-icons">file_download</i></a>
            </div>

            <video width="400" controls>
              <source src="/videos/video.webm"/>
            </video>
          </div>

          <div class="header--fr">
            <div class="logo-wrapper"><img class="facebook-logo" src="images/facebook-logo.svg" alt=""></div>

            <div style="position: relative;">
              <img class="mockup mockup--fr" src="./images/cyber-hygiene-report-fr-mockup.jpg" alt="">
              <a href="./pdfs/cyber-hygiene-en.pdf" download class="header__download-btn"><i class="material-icons">file_download</i></a>
            </div>

            <video width="400" controls style="pointer-events:none; opacity: 0.3;">
              <source src="/videos/video.webm"/>
            </video>
          </div>
        </div>
      </div>

      <div class="foreground">
        <div class="foreground__content foreground--en">
          <h1>Facebook Canadian Election Integrity Initiative</h1>
          <p>At Facebook, we are committed to doing our part to protect and safeguard the integrity of the electoral process in Canada by ensuring that the accounts of politicians and political parties are secure and that people have access to reliable information and diverse perspectives.</p>
          <p>Facebook’s Canadian Election Integrity Initiative is a direct response to the Communications Security Establishment's Cyber Threats to Canada’s Democratic Process report commissioned by the Minister of Democratic Institutions. It includes:</p>
          <ul>
            <li>The launch of a new 2-year partnership between Facebook Canada and MediaSmarts to promote digital and news literacy;</li>
            <li>The release of the Facebook Cyber Hygiene Guide for Politicians and Political Parties, to support information security;</li>
            <li style="letter-spacing: 0;">The launch of an emergency Canadian Facebook Cyber Threats Crisis Email Line, in the event of cyber interference including suspected hacks; and</li>
            <li>The announcement of a Facebook Cyber Hygiene Training Program open to all federal political parties.</li>
            <li>Starting in November, people will be able to click “View Ads” on a Page and view ads a Page is running on Facebook, Instagram and Messenger — whether or not the person viewing is in the intended audience for the ad. We will start this test in Canada and roll it out to the US by this summer, as well as broadly to all other countries around the same time.</li>
          </ul>
          <p>Here, you can download the Facebook Cyber Hygiene Guide for Politicians and Political Parties providing best practices for politicians and political parties on how to keep Facebook Pages and accounts secure.</p>

          <a class="by-line" href="http://ccmdesign.ca" target="_blank" title="Website design and development by ccm.design">by ccm.design</a>
        </div>

        <div class="foreground__content foreground--fr">
          <h1>Initiative canadienne pour l’intégrité électorale Facebook</h1>
          <p style="letter-spacing: 0;">Chez Facebook, nous nous engageons à faire ce qu’il faut pour protéger et préserver l’intégrité du processus électoral au Canada en assurant que les Pages et les comptes des politiciens et des partis politiques sont sécurisés et que les gens ont accès à de l'information fiable représentant divers points de vue.</p>
          <p>L' Initiative canadienne pour l’intégrité électorale Facebook est une réponse directe au rapport Cybermenaces contre le processus démocratique du Canada du Centre de la sécurité des télécommunications. Celle-ci contient:</p>
          <ul>
            <li>Le lancement d'un nouveau partenariat de deux ans entre Facebook Canada et HabiloMédias pour promouvoir la littératie numérique et l'éducation aux médias</li>
            <li>La publication du Guide d’hygiène informatique pour les politiciens et partis politiques Facebook, pour soutenir la sécurité de l'information;</li>
            <li>Le lancement d'une adresse courriel spéciale en cas de crise liée à des cybermenaces en cas d'interférence et de cybermenaces, y compris les incidents de piratage soupçonnés; et</li>
            <li>L'annonce d'un Programme de formation en hygiène informatique Facebook ouvert à tous les partis politiques fédéraux.</li>
            <li>À partir du mois de novembre, les utilisateurs pourront cliquer sur "Afficher les annonces" sur une Page et consulter les annonces diffusées sur Facebook, Instagram et Messenger -  que la personne soit dans le public cible de l'annonce ou non. Nous commencerons ce test au Canada et le déploierons aux États-Unis cet été, ainsi que dans les autres pays environ au même moment.</li>
          </ul>
          <p>Ici, vous trouverez le Guide d’hygiène informatique pour les politiciens et partis politiques Facebook présentant les meilleures pratiques pour les politiciens et les partis politiques en matière de sécurisation des Pages et comptes Facebook.</p>

          <a class="by-line" href="http://ccmdesign.ca" target="_blank" title="Website design and development by ccm.design">by ccm.design</a>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
    </main>
  </body>
</html>
