@import 'breakpoint';

$serif: 'Roboto Slab', serif;
$sans-serif: 'Roboto', sans-serif;
$main-color: #3b5998;

$small-only: screen and (max-width: 39.9375em);
$medium: screen and (min-width: 40em);
$medium-down: screen and (max-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large-down: screen and (max-width: 63.9375em);
$large: screen and (min-width: 64em);
$very-large: screen and (min-width: 80em);

body {
  font-size: 16px;
  font-family: $sans-serif;
  background-color: $main-color;
}

* {
  margin: 0;
  padding: 0;
}

// Lang switch
.lang-switch {
  text-align: center;
  z-index: 10;
  width: 100%;

  > span {
    font-size: 1rem;
    display: inline-block;
    padding: 6px 15px;
    margin: 10px;
    cursor: pointer;
    color: $main-color;
    border: 1px solid $main-color;
    transition: all .3s ease;

    &:hover {
      background-color: rgba($main-color, .2);
      transition: all .3s ease;
    }
  }
}

.header {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  @include breakpoint($large) {
    height: 100vh;
  }

  > div {
    display: flex;
  }

  .header--fr,
  .header--en {
    @include breakpoint($large) {
      width: 50vw;
    }
  }
}

.mockup {
  width: 100vw;
  margin: -80px 0 -60px;

  @include breakpoint($large) {
    width: 100%
  }
}

// Facebook logo
.logo-wrapper {
  text-align: center;
}

.facebook-logo {
  max-width: 130px;
  margin: 5% 0;
}

// Button
.button-wrapper {
  text-align: center;
}

.button {
  border: 1px solid $main-color;
  font-family: $sans-serif;
  font-weight: 400;
  color: $main-color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: all .3s ease;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin-bottom: 40px;

  &:hover {
    background-color: $main-color;
    color: white;
  }
}

// Description
.foreground {
  opacity: 0.95;
  background-color: $main-color;
  color: white;

  @include breakpoint($large) {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    margin-left: 50vw;
    transition: margin-left .3s .1s ease;
  }

  @include breakpoint($large-down) {
    position: relative;
  }

  &__content {
    padding: 5%;
    opacity: 1;
    z-index: 10;
    transition: all .3s .1s ease;
    position: absolute;
    top: 0;

    @include breakpoint($large) {
      height: 90vh;
      overflow: auto;
    }

    @include breakpoint($large-down) {
      background-color: $main-color;
    }
  }

  h1 {
    font-family: $serif;
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.7rem;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  p, li {
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.62;
    letter-spacing: .5px;
  }

  li {
    margin: 0 0 5px -10px;
    padding: 5px 10px;
    border: 1px solid rgba(white, .2);
    list-style: none;

    &:hover {
      border: 1px solid rgba(white, 1);
    }
  }

  p, ul {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

// Footer
.by-line {
  display: block;
  background-color: $main-color;
  opacity: 0.95;
  padding-bottom: 10px;
  padding-left: 5%;
  font-size: .8rem;
  text-decoration: none;
  font-weight: 200;
  color: rgba(black, .7);
  letter-spacing: .6px;

  &:hover {
    color: rgba(black, 1);
  }
}

// Manipulation
.js-en {
  .header--fr {
    @include breakpoint($large-down) {
      display: none;
    }
  }

  .foreground--fr {
    z-index: 0;
    opacity: 0;
    transition: all .3s .1s ease;
  }
}


.js-fr {
  .header--en {
    @include breakpoint($large-down) {
      display: none;
    }
  }

  .foreground {
    @include breakpoint($large) {
      margin-left: 0;
    }
  }

  .foreground--en {
    z-index: 0;
    opacity: 0;
    transition: all .3s .1s ease;
  }
}
